[submodule "lib/OpenCL-Headers"]
	path = lib/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "lib/zigrc"]
	path = lib/zigrc
	url = https://github.com/Aandreba/zigrc.git
[submodule "lib/zig-ff"]
	path = lib/zig-ff
	url = https://github.com/Aandreba/zig-feature-flags
[submodule "lib/wasmer"]
	path = lib/wasmer
	url = https://github.com/wasmerio/wasmer.git
